<%= include_gon(:init => true) %>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<div id="map"></div>
		<script>
			var markers = []; //array of markers
			function initMap() {
			var castle = {lat: 39.180945, lng:-107.2416232};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 7,
				center: castle,
				mapTypeId: 'hybrid'


			});
			var infowindow = new google.maps.InfoWindow();
			gon.fourteeners.forEach(function(fourteener){
				if (fourteener.surname == "Mount") {
					var full_name = fourteener.surname +" " +fourteener.name;
				} else if (fourteener.surname == "Peak"){
					var full_name = fourteener.name + " " +fourteener.surname;
				} else if (fourteener.surname == "Mount of the "){
					var full_name = fourteener.surname +" "+fourteener.name;
				} else if (fourteener.surname == "Mountain"){
					var full_name = fourteener.name +" " +fourteener.surname;
				} else if (fourteener.surname == "Needle"){
					var full_name = fourteener.name +" " +fourteener.surname;
				} else if (fourteener.surname == "Point"){
					var full_name = fourteener.name +" " +fourteener.surname;
				} else {
					var full_name = fourteener.name;
				}
				var marker = new google.maps.Marker({
					position: {lat: fourteener.location_lat, lng: fourteener.location_long},
					map: map,
					title: full_name,
					surname: fourteener.surname,
					elevation_in_feet: fourteener.elevation_in_feet,
					rank: fourteener.rank,
					location_lat: fourteener.location_lat,
					location_long: fourteener.location_long,
					forest: fourteener.forest,
					range: fourteener.range,
					classification: fourteener.classification,
					exposure: fourteener.exposure,
					elevation_gain_in_feet: fourteener.elevation_gain_in_feet,
					round_trip_distance_in_miles: fourteener.round_trip_distance_in_miles,
					no_4wd_additional_elevation_in_feet: fourteener.no_4wd_additional_elevation_in_feet,
					no_4wd_additional_distance_in_miles: fourteener.no_4wd_additional_distance_in_miles,
					route_name: fourteener.route_name,
					trailhead_name: fourteener.trailhead_name,
					trailhead_lat: fourteener.trailhead_lat,
					trailhead_long: fourteener.trailhead_long,
					four_x_four_required: fourteener.four_x_four_required,
					additional_info_url: fourteener.additional_info_url,
					kml: fourteener.kml
				});
				if (marker.classification < 2) {
					marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
				} else if (marker.classification < 3) {
					marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
				} else if (marker.classification < 4) {
					marker.setIcon('http://maps.google.com/mapfiles/ms/icons/yellow-dot.png');
				} else  {
					marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
				}
				google.maps.event.addListener(marker, 'click', function() {
					marker.setVisible(false); // maps API hide call
				});
				markers.push(marker); //add marker to array of markers
				var contentString = '<div id="content">'+
				  '<div id="siteNotice">'+
				  '</div>'+
				  '<h1 id="firstHeading" class="firstHeading">'+full_name+'</h1>'+
				  '<div id="bodyContent">'+
				  '<p>Elevation: '+marker.elevation_in_feet+' feet</br>'+
				  'Class: '+marker.classification+'</br>'+
				  'Range: '+marker.range+'</br>'+
				  'Forest: '+marker.forest+'</br>'+
				  'Route name: '+marker.route_name+'</br>'+
				  'Trailhead name: '+marker.trailhead_name+'</br>'+
				  'Round trip distance: '+marker.round_trip_distance_in_miles+' miles</br>'+
				  'Elevation gain: '+marker.elevation_gain_in_feet+' feet</br></p>'+
				  '<p><a href=\"'+marker.additional_info_url+'\">Click here for additional info</a></p>'+
				  '</div>'+
				  '</div>';
				marker.addListener('click', function() {
					map.setZoom(9);
					map.setCenter(marker.getPosition());
					infowindow.setContent(contentString);
					infowindow.setPosition(marker.getPosition());
					infowindow.open(marker.get('map'), marker);
				});
				});
			}
			$( function() {
				$( "#slider-elevation" ).slider({
					range: true,
					min: 0,
					max: 7500,
					values: [ 0, 7500 ],
					slide: function( event, ui ) {
						$( "#elevation" ).val( ui.values[ 0 ] + "ft - " + ui.values[ 1 ] + "ft");
						$.each(markers, function(i, marker){
							if (marker.elevation_gain_in_feet < ui.values[ 0 ] || marker.elevation_gain_in_feet > ui.values[ 1 ]) {
								marker.setVisible(false);
							} else {
								marker.setVisible(true);
							}
						});
					}
				});
				$( "#elevation" ).val($( "#slider-elevation" ).slider( "values", 0 ) + "ft - "
					+ $( "#slider-elevation" ).slider( "values", 1 ) + "ft" );
			} );

			$( function() {
				$( "#slider-distance" ).slider({
					range: true,
					min: 0,
					max: 26,
					values: [ 0, 7500 ],
					slide: function( event, ui ) {
						$( "#distance" ).val( ui.values[ 0 ] + "miles - " + ui.values[ 1 ] + "miles");
						$.each(markers, function(i, marker){
							if (marker.round_trip_distance_in_miles < ui.values[ 0 ] || marker.round_trip_distance_in_miles > ui.values[ 1 ]) {
								marker.setVisible(false);
							} else {
								marker.setVisible(true);
							}
						});
					}
				});
				$( "#distance" ).val($( "#slider-distance" ).slider( "values", 0 ) + "miles - "
					+ $( "#slider-distance" ).slider( "values", 1 ) + "miles" );
			} );
			$('input:checkbox').change(
				function(){
					if ($(this).is(':checked')) {
						alert('checked');
					}
				});
		</script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBYkGDkbDQBSWK4WoQM-r8tA5WXkqu_Rw&callback=initMap">
		</script>

		<div id="sidebar">

			<h6 style="padding-left: 10px; text-align: center; color: white;"><i> Use sliders and check boxes to find the right peak for you.</i></h6>


			<fieldset>
				<legend>Difficulty: </legend>

				<input type="checkbox" class="filled-in" id="class1" />
      			<label for="class1">Class 1 &nbsp </label>

      			<input type="checkbox" class="filled-in" id="class2" />
      			<label for="class2">Class 2 &nbsp </label>

      			<input type="checkbox" class="filled-in" id="class3" />
      			<label for="class3">Class 3 &nbsp </label>

      			<input type="checkbox" class="filled-in" id="class4" />
      			<label for="class4">Class 4 &nbsp </label>

			</fieldset>

			<fieldset>
				<legend>Four-Wheel Clearance: </legend>

				<input type="checkbox" class="filled-in" id="twoWheel" />
      			<label for="twoWheel">2 Wheel Drive &nbsp </label>

      			<input type="checkbox" class="filled-in" id="fourWheel" />
      			<label for="fourWheel">4x4 &nbsp </label>

      			<input type="checkbox" class="filled-in" id="extreme" />
      			<label for="extreme">4x4 Extreme &nbsp </label>
			</fieldset>

			<p><label for="elevation">Elevation Gain:</label><input type="text" id="elevation" readonly style="border:0; color:#f6931f; font-weight:bold;"></p>
			<div id="slider-elevation"></div>

			<p><label for="distance">Round Trip Distance:</label><input type="text" id="distance" readonly style="border:0; color:#f6931f; font-weight:bold;"></p>
			<div id="slider-distance"></div>

		</div>

