<%= include_gon(:init => true) %>

<div id="map"></div>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
          mapTypeId: 'terrain'
      });
      var ctaLayer = new google.maps.KmlLayer({
        url: gon.fourteener.kml,
          preserveViewport: false,
        map: map
      });
      google.maps.event.addListenerOnce(map, 'zoom_changed', function() {
        map.setZoom(13);
      });
    }

  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBYkGDkbDQBSWK4WoQM-r8tA5WXkqu_Rw&callback=initMap">
  </script>

  <div id="sidebar">
    <script type="text/javascript">
        if (gon.fourteener.surname == "Mount") {
          var full_name = gon.fourteener.surname +" " +gon.fourteener.name;
        } else if (gon.fourteener.surname == "Peak"){
          var full_name = gon.fourteener.name + " " +gon.fourteener.surname;
        } else if (gon.fourteener.surname == "Mount of the "){
          var full_name = gon.fourteener.surname +" "+gon.fourteener.name;
        } else if (gon.fourteener.surname == "Mountain"){
          var full_name = gon.fourteener.name +" " +gon.fourteener.surname;
        } else if (gon.fourteener.surname == "Needle"){
          var full_name = gon.fourteener.name +" " +gon.fourteener.surname;
        } else if (gon.fourteener.surname == "Point"){
          var full_name = gon.fourteener.name +" " +gon.fourteener.surname;
        } else {
          var full_name = gon.fourteener.name;
        }
        $("#sidebar").prepend("<h2>" + full_name + "</h2>");
        
    </script>
    <h5 style="color:gray;"><%= @fourteener.elevation_in_feet; %> <small>ft</small></h5> 
    <img src="https://raw.githubusercontent.com/elliotwhitehead/SummitPlan/0801cd532b78a99b86e1d3e1781afd08b2c03e0a/rankingStar.png" align="left">
    <h5><%= @fourteener.rank %> </h5>

    
</div>
